@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Customize the scrollbar width */
::-webkit-scrollbar {
  width: 8px; /* Adjust as needed */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: #2D3748; /* Track color */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #D69E2E; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #2D3748; /* Border around the thumb */
}

.anime-card-old {
  max-width: 260px; /* Adjust the width as needed */
  margin: auto; /* Center the card */
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.animeCard {
  display: block;
  background-color: #4a5568; /* bg-gray-700 */
  padding: 1rem; /* p-4 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow */
  text-align: center;
  transition: background-color 0.3s ease;
}

.animeCard:hover {
  background-color: #2d3748; /* hover:bg-gray-600 */
}

.animeImageContainer {
  width: 100%;
  height: 300px; /* Custom height for images */
  overflow: hidden;
  border-radius: 0.5rem; /* rounded-lg */
  margin-bottom: 0.5rem; /* mb-2 */
}

.animeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animeTitle {
  font-size: 1.125rem; /* text-lg */
  font-weight: bold;
  color: #e2e8f0; /* text-gray-300 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* components/Timetable.css */
.timetable-container {
  background-color: #1c1c1e;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.timetable-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.timetable-days {
  display: flex;
  flex-direction: column;
}

.timetable-empty {
  text-align: center;
  font-size: 18px;
}

.timetable-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2e;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.timetable-time {
  font-size: 14px;
  color: #a0a0a0;
}

.timetable-info {
  flex-grow: 1;
  margin-left: 20px;
}

.timetable-title {
  font-size: 18px;
  font-weight: bold;
}

.timetable-subtitle {
  font-size: 14px;
  color: #a0a0a0;
}

.timetable-episode {
  background-color: #3a3a3c;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.timetable-episode:hover {
  background-color: #5a5a5c;
}
