@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Customize the scrollbar width */
::-webkit-scrollbar {
  width: 8px; /* Adjust as needed */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: #2D3748; /* Track color */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #D69E2E; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #2D3748; /* Border around the thumb */
}

.anime-card {
  max-width: 260px; /* Adjust the width as needed */
  margin: auto; /* Center the card */
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
